.app {
	position: relative;

	width: 100%;
	min-height: 100vh;

	overflow: hidden;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	background-color: var(--clr-bg);

	color: var(--clr-text);
	accent-color: var(--clr-text-accent);

	&__window {
		width: 70%;
		height: 50rem;

		display: flex;
		flex-direction: row;
		justify-content: space-between;
		gap: var(--sp-2);

		color: var(--clr-text);

		backdrop-filter: blur(0.5rem);
	}
}
