.bio {
	display: grid;
	align-items: start;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: auto 1fr;
	grid-template-areas:
		'about cv'
		'about education';

	gap: var(--sp-4);

	&__about {
		display: flex;
		flex-direction: column;
		grid-area: about;
		gap: var(--sp-4);

		p:first-of-type {
			color: var(--clr-text-primary);

			font-size: var(--fs-h4);
			font-weight: var(--fw-medium);
			line-height: var(--lh-normal);
		}

		p:nth-of-type(2),
		p:nth-of-type(3) {
			color: var(--clr-text-secondary);

			font-size: var(--fs-h6);
			font-weight: var(--fw-regular);
			line-height: var(--lh-loose);
		}

		p:last-of-type {
			color: var(--clr-text-tertiary);

			font-size: 0.8rem;
			font-weight: var(--fw-regular);
			line-height: var(--lh-loose);
		}
	}

	&__cv {
		grid-area: cv;
	}

	&__education {
		display: flex;
		flex-direction: column;
		grid-area: education;
		gap: var(--sp-4);
	}

	@include breakpoint('md') {
		grid-template-columns: 1fr;
		grid-template-areas:
			'about'
			'cv'
			'education';
	}
}
