.file-item {
	padding: var(--sp-1) 0;

	display: grid;
	align-items: center;
	grid-template-columns: auto 1fr auto;
	grid-template-rows: auto auto;
	grid-template-areas:
		'icon name actions'
		'meta meta actions';

	column-gap: var(--sp-1);

	&__icon {
		flex-shrink: 0;
		grid-area: icon;

		color: var(--clr-text-accent);
	}

	&__name {
		overflow: hidden;

		grid-area: name;

		color: var(--clr-text-accent);

		font-family: var(--ff-accent);
		font-size: var(--fs-h3);
		font-weight: var(--fw-medium);
		text-overflow: ellipsis;
		white-space: nowrap;
	}

	&__meta {
		grid-area: meta;

		color: var(--clr-text-tertiary);

		font-family: var(--ff-primary);
		font-size: 0.85rem;

		@include breakpoint('xs') {
			display: none;
			grid-template-areas:
				'icon name actions'
				'icon name actions';
		}
	}

	&__actions {
		display: flex;
		flex-shrink: 0;
		grid-area: actions;
		gap: var(--sp-2);
	}

	&__button {
		padding: var(--sp-1);

		display: flex;
		justify-content: center;
		align-items: center;

		border: none;
		color: var(--clr-text-accent);

		transition: color var(--dur-normal) ease;

		&:hover,
		&:focus-visible {
			color: var(--clr-text-hover);
		}
	}
}
