.app {
	--app-spacing: var(--sp-8);

	max-width: 75rem;
	width: 100%;
	padding: var(--app-spacing) 0;

	display: flex;
	gap: var(--sp-8);

	@include breakpoint('2xl') {
		max-width: 78rem;
	}

	@include breakpoint('xl') {
		max-width: 62rem;
		gap: var(--sp-6);
	}

	@include breakpoint('lg') {
		max-width: 100%;
		padding: 0;

		flex-direction: column;
		gap: 0;
	}
}
