.navbar {
	position: relative;

	display: flex;
	flex-direction: column;
	gap: var(--sp-2);

	font-family: var(--ff-accent);
	font-weight: var(--fw-bold);

	&__link {
		position: relative;

		display: flex;
		gap: var(--sp-2);

		color: var(--clr-text);

		text-transform: uppercase;

		transition: color var(--dur-normal) ease;
		vertical-align: middle;

		&:not(&--active):hover,
		&:not(&--active):focus-visible {
			color: var(--clr-text-hover);
		}

		&--active {
			color: var(--clr-text-accent);
		}
	}
}
