.education-card {
	padding: 0;

	display: flex;
	flex-direction: column;
	gap: var(--sp-1);

	border: 0;

	&__years,
	&__degree,
	&__institution {
		display: flex;
		align-items: center;
		gap: var(--sp-2);

		svg {
			width: 1.5rem;
			height: 1.5rem;

			flex-shrink: 0;
		}
	}

	&__degree {
		color: var(--clr-text-secondary);
	}

	&__institution {
		color: var(--clr-text-tertiary);
	}
}
