.header {
	position: relative;

	width: 100%;

	display: flex;
	gap: var(--sp-1);

	&__name {
		color: var(--clr-text);
	}

	&__role {
		color: var(--clr-text-accent);

		letter-spacing: var(--ls-wide);
		text-transform: uppercase;
	}

	&__location {
		color: var(--clr-text-tertiary);
	}
}

.status {
	display: inline-flex;
	align-items: center;
	gap: var(--sp-1);

	&[data-status='open'] {
		--status-color: var(--clr-success-500);
	}

	&[data-status='busy'] {
		--status-color: var(--clr-error-500);
	}

	&__dot {
		width: 0.5rem;
		height: 0.5rem;

		flex-shrink: 0;

		border-radius: var(--br-xs);
		background: var(--status-color);
	}

	&__label {
		color: var(--status-color);

		text-transform: uppercase;
	}
}
