.switch {
	display: inline-flex;

	&__option {
		min-width: 2.2rem;
		min-height: 2.2rem;

		display: flex;
		justify-content: center;
		align-items: center;

		border-bottom: var(--bw-normal) solid transparent;

		border-radius: var(--br-sm);

		color: var(--clr-switch-text);

		font-family: var(--ff-accent);
		font-weight: var(--fw-bold);

		cursor: pointer;
		transition:
			color var(--dur-normal) ease,
			background-color var(--dur-normal) ease,
			border-color var(--dur-normal) ease;

		&:not(&--active):hover,
		&:not(&--active):focus-visible {
			background-color: var(--clr-switch-bg-hover);
			color: var(--clr-switch-text-hover);
			border-bottom-color: var(--clr-switch-text-hover);
		}

		&--active {
			background-color: var(--clr-switch-bg-active);
			color: var(--clr-switch-text-active);
			border-bottom-color: var(--clr-switch-text-active);
		}

		svg {
			flex-shrink: 0;
		}
	}
}
