.navbar {
	width: 100%;

	display: flex;
	flex-direction: column;

	font-family: var(--ff-accent);
	font-weight: var(--fw-bold);

	&__link {
		padding: var(--sp-1);

		display: flex;
		gap: var(--sp-1);

		border-left: var(--bw-normal) solid transparent;
		border-radius: var(--br-sm);
		color: var(--clr-nav-text);

		text-transform: uppercase;

		transition:
			color var(--dur-normal) ease,
			background-color var(--dur-normal) ease,
			border-left-color var(--dur-normal) ease;

		> span {
			display: flex;
			flex: 1;
			align-items: center;
		}

		&:not(&--active):hover,
		&:not(&--active):focus-visible {
			background-color: var(--clr-nav-bg-hover);
			color: var(--clr-nav-text-hover);
			border-left-color: var(--clr-nav-text-hover);
		}

		&--active {
			background-color: var(--clr-nav-bg-active);
			color: var(--clr-nav-text-active);
			border-left-color: var(--clr-nav-text-active);
		}
	}
}
