.sidebar {
	position: sticky;
	top: var(--sp-8);

	z-index: var(--z-sticky);

	width: 23rem;

	height: calc(100dvh - var(--sp-8) - var(--sp-8));

	padding: var(--sp-4);

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;

	border: var(--bw-thin) solid var(--clr-border);
	border-radius: var(--br-md);

	background-color: var(--clr-sidebar-bg);

	font-size: var(--fs-sidebar);

	user-select: none;

	&__burger {
		position: fixed;
		right: var(--sp-2);
		bottom: var(--sp-2);
		z-index: var(--z-tooltip);

		padding: var(--sp-1);

		display: none;

		border: var(--bw-thin) solid var(--clr-border);

		border-radius: var(--br-md);

		background: var(--clr-sidebar-bg);
		color: var(--clr-border);

		cursor: pointer;
	}

	&__overlay {
		position: fixed;
		z-index: var(--z-overlay);

		display: none;

		background: rgb(20 20 20 / 60%);
		inset: 0;
	}

	@include breakpoint('lg') {
		position: fixed;
		top: 0;
		left: 0;

		z-index: var(--z-sidebar);

		width: 20rem;
		height: 100dvh;
		padding: var(--sp-6) var(--sp-2);

		border: none;

		border-radius: 0;
		background-color: var(--clr-sidebar-bg);

		transform: translateX(-100%);
		transition: transform var(--dur-normal) ease;

		&--open {
			transform: translateX(0);
		}

		&__burger {
			display: flex;
		}

		&__overlay {
			display: block;
		}
	}

	@include breakpoint('xs') {
		width: clamp(256px, 80%, 280px);

		font-size: var(--fs-sidebar-small);
	}
}
