:root {
	--clr-text: var(--clr-neutral-700);
	--clr-text-accent: var(--clr-primary-600);
	--clr-text-hover: var(--clr-neutral-500);
	--clr-text-secondary: var(--clr-neutral-600);
	--clr-text-tertiary: var(--clr-neutral-500);

	--clr-app-bg: var(--clr-neutral-100);

	--clr-selection-bg: var(--clr-neutral-300);
	--clr-selection-text: var(--clr-neutral-900);

	--clr-scrollbar-thumb: var(--clr-neutral-500);
	--clr-scrollbar-thumb-hover: var(--clr-primary-300);
	--clr-scrollbar-track: var(--clr-neutral-300);

	--clr-focus: var(--clr-text-accent);

	--clr-border: var(--clr-neutral-500);

	--clr-sidebar-bg: var(--clr-neutral-200);

	--clr-nav-bg-hover: #bbbbbb;
	--clr-nav-bg-active: rgb(255 166 0 / 22%);
	--clr-nav-text: var(--clr-text);
	--clr-nav-text-hover: var(--clr-text);
	--clr-nav-text-active: var(--clr-text-accent);

	--clr-switch-bg-hover: #bbbbbb;
	--clr-switch-bg-active: rgb(255 166 0 / 22%);
	--clr-switch-text: var(--clr-text);
	--clr-switch-text-hover: var(--clr-text);
	--clr-switch-text-active: var(--clr-text-accent);

	--clr-card-bg: var(--clr-neutral-200);

	--clr-chip-bg: var(--clr-neutral-300);
}
