.chip {
	padding: 0 var(--sp-1);

	display: inline-flex;
	align-items: center;

	border-radius: var(--br-md);
	background-color: var(--clr-chip-bg);

	font-size: var(--fs-chip);

	font-weight: var(--fw-medium);

	user-select: none;

	&--dashed {
		border: var(--bw-thin) dashed var(--clr-border);
		background-color: transparent;
		color: var(--clr-text-tertiary);
	}
}
