.section {
	width: 100%;
	overflow: hidden;

	display: flex;
	flex-direction: column;

	border: var(--stroke-normal) solid var(--clr-border);

	background-color: var(--clr-section-bg, transparent);

	&__header,
	&__footer {
		padding: var(--sp-1) var(--sp-2);
	}

	&__header {
		display: flex;
		border-bottom: var(--stroke-normal) solid var(--clr-border);
	}

	&__footer {
		display: flex;
		flex-direction: column;
		border-top: var(--stroke-normal) solid var(--clr-border);
		gap: var(--sp-1);
	}

	&__content {
		padding: var(--sp-2);

		display: flex;
		flex-grow: 1;
		gap: var(--sp-2);
	}
}
