// REVIEW: Пересмотреть и допилить стили

.section {
	width: 100%;
	overflow: hidden;

	display: flex;
	flex-direction: column;

	border: var(--stroke-normal) solid var(--clr-border);

	background-color: var(--clr-section-bg, transparent);

	> * {
		width: 100%;
	}

	&__header,
	&__footer {
		padding: 0.5rem 1rem;
	}

	&__header {
		display: flex;
		// background-color: var(--clr-section-header-bg, transparent);
		border-bottom: var(--stroke-normal) solid var(--clr-border);

		h1,
		h2 {
			margin: 0;
		}
	}

	&__footer {
		display: flex;
		flex-direction: column;
		// background-color: var(--clr-section-footer-bg, transparent);
		border-top: var(--stroke-normal) solid var(--clr-border);

		color: var(--clr-section-footer-text, inherit);

		p {
			font-size: var(--fs-small-text);
		}
	}

	&__content {
		margin: 1rem 0;
		padding: 0 1rem;

		display: flex;
		flex: 1;
		gap: 1rem;
	}
}
