.auth-panel {
	width: 100%;

	display: flex;
	flex-direction: column;

	font-family: var(--ff-accent);
	font-weight: var(--fw-bold);

	color: var(--clr-text);

	&__user {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: var(--sp-1);

		overflow: hidden;
	}

	&__username {
		font-size: var(--fs-auth);
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	&__actions {
		width: 100%;

		display: flex;
		gap: var(--sp-1);
	}

	&__btn {
		width: 100%;
		height: 2.5rem;

		display: flex;
		align-items: center;
		justify-content: center;
		gap: var(--sp-1);

		font-size: var(--fs-auth);

		transition: color var(--dur-normal) ease;

		&:hover,
		&:focus-visible {
			color: var(--clr-text-hover);
		}

		&:first-child {
			color: var(--clr-text-accent);

			&:hover,
			&:focus-visible {
				color: var(--clr-text-hover);
			}
		}
	}
}
