.switch {
	position: relative;

	height: 2.5rem;

	display: flex;
	justify-content: center;
	align-items: center;

	&__button {
		position: relative;

		height: 100%;
		padding: 0 var(--sp-1);

		display: flex;
		justify-content: center;
		align-items: center;

		color: var(--clr-text);

		font-family: var(--ff-accent);
		font-size: var(--fs-default);
		font-weight: var(--fw-bold);

		cursor: pointer;
		transition: color var(--dur-normal) ease;

		&:not(&--active):hover,
		&:not(&--active):focus-visible {
			color: var(--clr-text-hover);
		}

		svg {
			width: 1.5rem;
			height: 1.5rem;

			flex-shrink: 0;
		}

		&--active {
			color: var(--clr-text-accent);
		}
	}
}
