.education-card {
	&__content {
		display: flex;
		flex-direction: column;
		gap: var(--sp-1);
	}

	&__degree,
	&__years,
	&__institution {
		display: flex;
		align-items: center;
		gap: var(--sp-2);

		text-align: left;

		svg {
			flex-shrink: 0;
		}
	}

	&__degree {
	}

	&__years {
	}

	&__institution {
		svg {
			color: var(--clr-card-text);
		}
	}
}
