.content {
	display: flex;
	flex: 1;
	flex-direction: column;
	gap: var(--sp-12);

	@include breakpoint('lg') {
		padding: var(--sp-6);
	}
	@include breakpoint('md') {
		padding: var(--sp-4);
	}
	@include breakpoint('sm') {
		padding: var(--sp-2);
	}
}
