$theme-schema: (
	// General
	text: (
			_: (),
			accent: (),
			secondary: ()
		),
	selection: (
		bg: (),
		text: ()
	),
	scrollbar: (
		track: (),
		thumb: ()
	),
	grid: (
		bg: (),
		line: ()
	),

	// Layout
	window: (
			bg: ()
		),
	sidebar: (
		bg: ()
	),
	nav: (),
	footer: (),
	section: (
		bg: (),
		header: (
			bg: ()
		),
		footer: (
			bg: (),
			text: ()
		)
	),

	// UI elements
	button: (
			text: ()
		),
	card: (
		bg: (),
		text: ()
	),
	clock: (),
	switch: (),
	chip: (
		bg: ()
	)
);
