.divider {
	border: none;

	&--vertical {
		align-self: stretch;

		border-left: var(--bw-thin) solid var(--clr-border);
	}

	&:not(&--vertical) {
		width: 100%;

		border-top: var(--bw-thin) solid var(--clr-border);
	}
}
