@font-face {
	font-family: Tektur;
	font-weight: 400 900;
	font-style: normal;
	font-display: swap;
	src: url('/fonts/Tektur-VariableFont.woff2') format('woff2-variations');
}

@font-face {
	font-family: Manrope;
	font-weight: 200 800;
	font-style: normal;
	font-display: swap;
	src: url('/fonts/Manrope-VariableFont.woff2') format('woff2-variations');
}

@font-face {
	font-family: JetBrains;
	font-weight: 300 700;
	font-style: normal;
	font-display: swap;
	src: url('/fonts/JetBrainsMono-VariableFont.woff2') format('woff2-variations');
}
